[submodule "dnn/mmsegmentation"]
	path = dnn/mmsegmentation
	url = https://github.com/bhyun-kim/mmsegmentation.git
[submodule "dnn/yolov5"]
	path = dnn/yolov5
	url = https://github.com/HYOJAE15/yolov5.git
